.form-label {
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    /* color: #000; */
}

h1{
    color: #252525;
    font-family: "Playfair Display", Sans-serif;
    font-size: 6em;
    font-weight: 900;
    padding: 0;
    margin: 0;
    line-height: 1;
}

h2{
    color: #252525;
    font-family: "Dancing Script", Sans-serif;
    font-size: 3.9em;
    font-weight: 900;
}

.btnn{
    background-color: rgb(216, 216, 216);
    padding: 10px 5px;
    color: #333;
    border-radius: 1rem;;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    border: none;
}

.file{
    border-radius: 5px;
}

.fa-facebook{
    font-size: 24px;
}

.fa-instagram{
    font-size: 24px;
}

.fa-pinterest{
    font-size: 24px;
}

.fa-twitter{
    font-size: 24px;
}

.one::after{
    height: 0 !important;
}
.two::after{
    height: 0 !important;
}
.three::after{
    height: 0 !important;
}
.four::after{
    height: 0 !important;
}
.five::after{
    height: 0 !important;
}